@mobile: ~"(max-width: 551px)";
@tabletV: ~"(max-width: 769px)";
@tabletH: ~"(max-width: 1025px)";
@desktopS: ~"(max-width: 1441px)";
@desktop: ~"(min-width: 1680px)";

@softGrey: #3b383f;
@darkGrey: #2d2933;
@white: #f5f5f5;
@orange: #f7914d;

@font1: 'Open Sans', sans-serif;
@font2: "Poppins", serif;
@font3: "Qwigley", cursive;

@transition1: 0.3s ease;
@transition1_delay: 0.3s 0.3s ease;

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.basic-bg() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

//? Fonts
.m-title0() {
  font: 400 5rem/5rem @font3;

  @media @tabletH {
    font-size: 4.5rem;
  }

  @media @mobile {
    font-size: 4rem;
  }
}

.m-title1() {
  font: 400 8rem/8rem @font2;
  letter-spacing: -0.1rem;

  @media @tabletH {
    font: 400 5rem/5.2rem @font2;
  }

  @media @mobile {
    font: 400 4rem/4.2rem @font2;
  }
}

.m-title3() {
  font: 400 4rem/4.8rem @font2;
  letter-spacing: -0.1rem;

  @media @tabletV {
    line-height: 4.5rem;
  }

  @media @mobile {
    font: 400 3rem/3.5rem @font2;
  }
}

.m-text1() {
  font: 400 2rem/3rem @font2;
  letter-spacing: 0.05rem;

  @media @tabletH {
    font-size: 1.8rem;
  }
}

.m-text2() {
  font: 400 1.8rem/2.8rem @font1;
  letter-spacing: 0.05rem;

  @media @tabletV {
    font: 400 1.6rem/2.6rem @font1;
  }

  @media @mobile {
    font: 400 1.5rem/2.5rem @font1;
  }
}

.button1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0 0;
  padding: 15px 97px 15px 95px;
  background-color: #f7914d;
  border-radius: 8px;
  animation-fill-mode: both;
  border-width: 0;
  color: white;
  will-change: transform, opacity;
  animation-duration: 1500ms;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: #5e5a63;
  }
}

.pre-title {
  font-size: 4rem;
}

.title {
  .m-title1();
}

.sub-title {
  font-size: 1.6rem;
}

//? Medidas
html {
  font-size: 62.5%;
  overflow-x: hidden;
  margin: 0;
  background-color: @softGrey;

  body {
    font: 14px "";
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  @media (min-width: 1921px) and (max-height: 600px) {
    font-size: 55.5%;
  }

  // @media (min-width: 1601px) {
  //   font-size: 0.625vw;
  // }
}

body {
  cursor: default;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

section {
  color: @white;
  line-height: 1.2;
}

section:not(.header, .footer) {
  width: calc(100vw - 20rem);
  margin: auto;
}

a {
  text-decoration: none;
  color: @white;
}

ul {
  list-style-type: none;
}

/********/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: @darkGrey;
  padding: 1rem 3rem;
  height: 8rem;

  nav {
    width: 59%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      li {
        &::marker {
          display: none;
        }

        a {
          text-shadow: 0 0 6px #00000082;
          text-transform: uppercase;
          color: @white;

          &.active {
            color: @orange;
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @darkGrey;
}

/*************************** SECTION INICIO *****************************/

.section-inicio {
  height: calc(100vh - 14rem);
  display: flex;
  align-items: center;

  .left,
  .right {
    width: 50%;
  }

  .left {
    .col {
      max-width: 53rem;

      .title-container {
        border-bottom: 2px solid #f5f5f570;
        padding: 3rem 0;

        .sub-title {
          font-family: @font1;
          font-style: italic;
          font-weight: 400;
          opacity: 0.8;
          margin-top: 2rem;
          letter-spacing: 0px;
        }
      }

      .personal-info {
        max-width: 53rem;

        .row {
          justify-content: space-between;
          align-items: center;

          p,
          a {
            font-family: @font1;
            opacity: 0.9;

            &.strong {
              margin-right: 1rem;
              font-weight: 600;
            }

            &:last-child {
              opacity: 0.6;
            }
          }
        }

        .btn-container {
          margin-top: 4.5rem;
        }
      }
    }
  }

  .img-container {
    height: 100%;
    position: relative;
    right: -10rem;

    .img {
      background-image: url('../public/images/ownerPhoto.jpg');
      .basic-bg();
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  @media @tabletH {}

  @media @tabletV {}

  @media @mobile {}
}



/*************************** SECTION PORTFOLIO *****************************/

.section-listproyectos {
  display: flex;
  place-content: center;
  height: calc(100vh - 14rem);
  align-items: center;

  .slider-container {
    width: calc(100vw - 31rem);
    margin: auto;

    .slider-control-bottomcenter {
      position: absolute;
      bottom: -5rem;
    }

    .slider-frame {
      .card {
        height: 100%;
        height: 50rem;

        &.reverse {
          flex-direction: row-reverse;
        }

        .card-img {
          width: 50%;
          height: 100%;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }

        .card-info {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .container {
            padding: 5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .title {
              font-size: 5rem;
            }

            .list {
              display: flex;
              flex-direction: row;

              .icon {
                width: 3rem;

                &:not(:last-child) {
                  margin-right: 2rem;
                }
              }
            }

            .pre-title {
              font-size: 3rem;

            }

            .sub-title {}

            .button1 {
              font-size: 1.3rem;
              padding: 8px 3rem 8px 3rem;
            }
          }
        }
      }
    }

    .slider-control-centerright {
      position: absolute;
      bottom: -5rem;
      right: -5rem;

      button {
        background-image: url('../public/icons/arrow-simple.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        height: 6rem;
        width: 6rem;
        background-color: #f7914d !important;
        color: transparent !important;
        -webkit-tap-highlight-color: transparent;
        transform: rotate(180deg);
      }
    }

    .slider-control-centerleft {
      position: absolute;
      bottom: -5rem;
      right: 2rem;

      button {
        background-image: url('../public/icons/arrow-simple.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        height: 6rem;
        width: 6rem;
        background-color: #f7914d !important;
        color: transparent !important;
        -webkit-tap-highlight-color: transparent;

      }
    }
  }

  @media @tabletH {}

  @media @tabletV {}

  @media @mobile {}
}


/*************************** SECTION SKILLS *****************************/

.section-servicios {
  height: calc(100vh - 14rem);
  display: flex;
  align-items: center;

  .left {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    height: calc(100% - 10rem);

    .card {
      width: 29.3%;
      margin-right: 2rem;
      margin-bottom: 2rem;

      .img {
        height: 22rem;
        width: 100%;
        .basic-bg();
      }

      .text {
        background-color: white;
        color: #817d87;
        .m-text1();
        font-size: 2rem;
        padding: 2rem 3rem;
        text-align-last: center;
      }
    }
  }

  .right {
    height: calc(100% - 10rem);
    width: 40%;
    position: relative;
    .circle {
      background: #f7914d;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      .m-text1();

      &.case1 {
        width: 15rem;
        height: 15rem;
        top: 0;
        left: 0;
      }
      &.case2 {
        width: 18rem;
        height: 18rem;
        bottom: 3rem;
        left: 32rem;
      }
      &.case3 {
        width: 19rem;
        height: 19rem;
        top: 5rem;
        left: 26rem;
      }
      &.case4 {
        width: 15rem;
        height: 15rem;
        bottom: 10rem;
        left: 6rem;
      }
      &.case5 {
        width: 15rem;
        height: 15rem;
        bottom: 30rem;
        left: 21rem;
      }
    }

    @media @tabletH {}

    @media @tabletV {}

    @media @mobile {}

  }
}