/* Gradient */
@font-face {
  font-family: "XanhMono";
  src: url("fonts/XanhMono-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arvo";
  src: url("fonts/Arvo-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("fonts/Kanit-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "lobster";
  src: url("fonts/Lobster-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Anton";
  src: url("fonts/Anton-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "XanhMonoTextos";
  src: url("fonts/XanhMono-Regular-textos.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "XanhMonoTitle";
  src: url("fonts/XanhMono-Regular-title.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.button1 {
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
  font-weight: 700 !important;
  font-size: 3rem;
  background-color: white;
  color: #022b3aff;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 6px;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
@media (max-width: 551px) {
  .button1 {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.button1:hover {
  color: #ffffff;
  background-color: #1f7a8cff;
}
html {
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  font-size: 62.5%;
  margin: 0;
  background-color: #022b3aff;
}
html body {
  font: 14px "";
  width: 100%;
  margin: auto;
  overflow: hidden;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
@media (min-width: 551px) and (max-height: 800px) {
  html {
    font-size: 50.5%;
  }
}
section {
  color: white;
  line-height: 1.2;
}
section:not(.header, .footer, .burger-menu) {
  /* height: calc(100vh - 14rem); */
  height: 100vh;
  position: relative;
  /* margin: 8rem auto auto auto; */
}
@media (max-width: 551px) {
  section:not(.header, .footer, .burger-menu) {
    /* height: calc(100vh - 12rem);
    margin: 6rem auto auto auto; */
  }
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
/********/
.header {
  transform-style: preserve-3d;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 4rem 3rem;
  height: 6rem;
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
  /* box-shadow: 0px 1px 20px 3px #001821; */
}
.header .mouse-follower-header {
  content: " ";
  position: absolute;
  background-color: #64ffda;
  width: 10rem;
  height: 5px;
  bottom: 0;
  border-radius: 9px 9px 0 0;
  transition-timing-function: ease;
  /* Also the same as */
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.header #logo {
  width: 9rem;
  margin-top: 9px;
  opacity: 0;
}
.header #logo.active {
  transition: all 0.5s ease-in;
  opacity: 1;
}
.header #logo img {
  width: 100%;
  height: 100%;
}
.header .language {
  cursor: pointer;
  text-decoration: underline;
  font: 500 2.5rem/3rem "Kanit", sans-serif;
}
@media (max-width: 1025px) {
  .header .language {
    font: 400 2rem/5.2rem "Kanit", sans-serif;
  }
}
@media (max-width: 551px) {
  .header .language {
    font: 400 1.5rem/4.2rem "Kanit", sans-serif;
  }
}
.header .language:hover {
  color: #64ffda;
}
.header .language.hide {
  display: none;
}
.header .nav-desktop {
  width: 59%;
}
.header .nav-desktop ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.header .nav-desktop ul li::marker {
  display: none;
}
.header .nav-desktop ul li a {
  font: 500 2.5rem/3rem "Kanit", sans-serif;
  text-transform: capitalize;
  color: #e1e5f2ff;
  transition: all 0.2s ease;
  padding: 2rem;
  text-shadow: 0 0 2px black;
}
@media (max-width: 1025px) {
  .header .nav-desktop ul li a {
    font: 400 2rem/5.2rem "Kanit", sans-serif;
  }
}
@media (max-width: 551px) {
  .header .nav-desktop ul li a {
    font: 400 1.5rem/4.2rem "Kanit", sans-serif;
  }
}
.header .nav-desktop ul li a.active-menu-desk {
  color: #64ffda;
}
.header .nav-desktop ul li a:hover {
  color: #64ffda;
}
@media (max-width: 1250px) {
  .header .nav-desktop {
    width: auto;
  }
}
@media (max-width: 769px) {
  .header {
    justify-content: space-between;
  }
  .header .language {
    position: absolute;
    right: 10rem;
    color: #64ffda;
  }
  .header .nav-desktop {
    display: none;
  }
  .header .mouse-follower-header {
    display: none;
  }
}
@media (max-width: 551px) {
  .header {
    padding: 3rem 3rem 3rem 2rem;
  }
  .header #logo {
    width: 7rem;
    margin-top: 7px;
  }
}
.burger-menu {
  transform-style: preserve-3d;
}
.burger-menu #nav-icon3 {
  width: 4rem;
  height: 3.2rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.burger-menu #nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #64ffda;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.burger-menu #nav-icon3 span:nth-child(1) {
  top: 0px;
}
.burger-menu #nav-icon3 span:nth-child(2),
.burger-menu #nav-icon3 span:nth-child(3) {
  top: 14px;
}
.burger-menu #nav-icon3 span:nth-child(4) {
  top: 29px;
}
.burger-menu #nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.burger-menu #nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger-menu #nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.burger-menu #nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.burger-menu .blur-zone {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  right: -3rem;
  transform: translateZ(-10px);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: #0000003b;
  top: -16px;
}
.burger-menu .blur-zone.active {
  display: block;
}
.burger-menu .nav-mobile {
  transform: translateZ(-10px);
  top: -16px;
  background-color: #1f7a8cff;
  position: fixed;
  height: 100vh;
  width: 72vw;
  right: -38rem;
  transition: all 0.5s ease;
}
.burger-menu .nav-mobile.active {
  right: -3rem;
}
.burger-menu .nav-mobile ul {
  margin-top: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  align-items: center;
}
.burger-menu .nav-mobile ul li {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  font-weight: 600 !important;
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
  font-size: 2rem !important;
}
.burger-menu .nav-mobile ul li span {
  color: #64ffda;
}
.burger-menu .nav-mobile ul li::marker {
  display: none;
}
@media (max-width: 551px) {
  .burger-menu .nav-mobile ul li {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.burger-menu .nav-mobile ul li a {
  text-transform: capitalize;
  margin-top: 1rem;
  color: white;
  transition: all 0.2s ease;
}
.burger-menu .nav-mobile ul li a.active-menu-mbl {
  color: #eae0d5;
}
@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }
}
@media (max-width: 769px) {
  .burger-menu .nav-mobile {
    right: -58rem;
    width: 58vw;
  }
}
@media (max-height: 800px) {
  .burger-menu .nav-mobile ul {
    margin-top: 12rem;
  }
}
.footer {
  box-sizing: border-box;
  padding: 3rem 5rem 3rem 3rem;
  /* box-shadow: -3px 0px 20px 3px #001821; */
  width: 100%;
  position: fixed;
  margin: 0 auto;
  z-index: 1;
  bottom: 0;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e1e5f2ff;
  background-color: transparent;
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
}
@media (max-width: 551px) {
  .footer {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.footer .mouse-follower-footer {
  content: " ";
  position: absolute;
  background-color: #64ffda;
  width: 10rem;
  height: 5px;
  top: 0;
  border-radius: 0 0 9px 9px;
}
.footer .rrss img {
  width: 2.6rem;
  margin-right: 2.5rem;
  height: 100%;
}
.footer span {
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
  color: #64ffda;
}
@media (max-width: 551px) {
  .footer span {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
@media (max-width: 769px) {
  .footer .mouse-follower-footer {
    display: none;
  }
}
@media (max-width: 551px) {
  .footer {
    padding: 3rem 2rem 3rem 2rem;
  }
  .footer span {
    font-size: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .footer .rrss img {
    width: 2rem;
    margin-right: 1.5rem;
  }
}
#mainshape {
  position: absolute;
  z-index: -9;
  background: transparent;
  height: auto;
  width: 100%;
  top: 8rem;
  display: none;
  transition: all 0.3s ease-in;
}
@media (max-width: 1025px) {
  #mainshape {
    display: none !important;
  }
}
#mainshapeMobile {
  display: none;
  position: absolute;
  z-index: -9;
  background: transparent;
  width: 100%;
  top: 8rem;
}
@media (min-width: 1025px) {
  #mainshapeMobile {
    display: none !important;
  }
}
/*************************** SECTION ABOUTME *****************************/
.section-aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../public/svg/animatedShapeAboutme.svg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-aboutme .container {
  width: calc(100% - 15%);
  max-width: 124rem;
  --b: 2px;
  --w: 17rem;
  padding: 2rem 6rem;
  position: relative;
  justify-content: space-between;
}
.section-aboutme .container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, #64ffda, #1f7a8cff, #bfdbf7ff, #1f7a8cff, #64ffda);
  --_g: #0000 90deg, #022b3aff 0;
  --_p: var(--w) var(--w) no-repeat;
  --mask: conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
          100% 100% / var(--_p);
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.section-aboutme .container .section .title {
  font: 400 4rem/4.8rem "XanhMono", sans-serif;
  letter-spacing: -0.1rem;
}
@media (max-width: 769px) {
  .section-aboutme .container .section .title {
    line-height: 4.5rem "XanhMono", sans-serif;
  }
}
@media (max-width: 551px) {
  .section-aboutme .container .section .title {
    font: 400 3rem/3.5rem "XanhMono", sans-serif;
  }
}
.section-aboutme .container .section .work {
  margin-top: 2rem;
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
.section-aboutme .container .section .work.border {
  border-bottom: 2px solid #1f7a8c52;
}
@media (max-width: 551px) {
  .section-aboutme .container .section .work {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.section-aboutme .container .section .work .col .info {
  justify-content: space-between;
  line-height: 1.3;
  font-size: 1.8rem;
}
.section-aboutme .container .section .work .col .description {
  list-style-type: disclosure-closed;
}
.section-aboutme .container .section .work .col .description li {
  max-width: 50rem;
}
.section-aboutme .container .section .work .col .description li::marker {
  color: #64ffda;
}
@media (max-width: 1025px) {
  .section-aboutme .container {
    justify-content: center;
    width: auto;
  }
  .section-aboutme .container .title {
    display: none;
  }
  .section-aboutme .container .section:not(:first-child) {
    display: none;
  }
}
@media (max-width: 596px) {
  .section-aboutme {
    background-image: url("../public/svg/shapeHomeMobile.svg");
  }
  .section-aboutme .container {
    width: calc(100% - 15%);
    padding: 0rem 2rem;
  }
  .section-aboutme .container .section .work {
    /* &:not(:first-child) {
          border-bottom: none;
        } */
  }
  .section-aboutme .container .section .work:last-child {
    display: none;
  }
  .section-aboutme .container .section .work .col .info {
    font-size: 1.3rem;
  }
}
/*************************** SECTION INICIO *****************************/
.section-inicio {
  display: flex;
  place-content: center;
  align-items: center;
  background-image: url("../public/svg/animatedShapeHome.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-inicio .row {
  width: calc(100% - 41%);
  align-items: center;
}
.section-inicio .row .description {
  width: 50%;
  padding: 7rem 7rem 7rem 0;
}
.section-inicio .row .description .title {
  font: 500 6rem/6rem "XanhMonoTitle", sans-serif;
  letter-spacing: -0.1rem;
  font-size: 4rem;
}
@media (max-width: 1025px) {
  .section-inicio .row .description .title {
    font: 400 5rem/5.2rem "XanhMonoTitle", sans-serif;
  }
}
@media (max-width: 551px) {
  .section-inicio .row .description .title {
    font: 400 4rem/4.2rem "XanhMonoTitle", sans-serif;
  }
}
.section-inicio .row .description .text {
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
}
@media (max-width: 551px) {
  .section-inicio .row .description .text {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.section-inicio .row .description .btn-container {
  margin-top: 4.5rem;
}
.section-inicio .row .description .btn-container .button1 {
  width: fit-content;
  font-size: 2rem;
}
.section-inicio .row .description .btn-container .button1 svg {
  margin-left: 1rem;
}
.section-inicio .row .photo {
  width: 50%;
  height: 35rem;
  max-width: 32rem;
  --b: 2px;
  --w: 17rem;
  padding: 6rem;
  position: relative;
}
.section-inicio .row .photo .img {
  position: absolute;
  background-image: url(../public/images/mainphotogrey.png);
  width: 70%;
  height: 74%;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  /* .fakebg {
          transition: all 0.5s ease;
          opacity: 0;
          background: #013a7ca1;
          width: 100%;
          border-radius: 1rem;
          height: 100%;
        }

        &:hover {
          .fakebg {
            opacity: 1;
          }
        }
        */
}
.section-inicio .row .photo::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, #64ffda, #1f7a8cff, #bfdbf7ff, #1f7a8cff, #64ffda);
  --_g: #0000 90deg, #022b3aff 0;
  --_p: var(--w) var(--w) no-repeat;
  --mask: conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
          /* conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p), */
            /* conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p), */
            conic-gradient(
              from -90deg at bottom var(--b) right var(--b),
              var(--_g)
            )
            100% 100% / var(--_p);
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
@media (max-width: 1447px) {
  .section-inicio .row {
    width: calc(100% - 21%);
  }
}
@media (max-width: 1025px) {
  .section-inicio {
    background-image: url(../public/svg/animatedShapeHomeMbl.svg);
  }
  .section-inicio .row {
    width: calc(100% - 15%);
  }
  .section-inicio .row .description {
    padding: 5rem 1rem 7rem 0;
  }
}
@media (max-width: 849px) {
  .section-inicio .row {
    flex-direction: column-reverse;
    align-items: start;
  }
  .section-inicio .row .photo {
    height: 15rem;
    padding: 3rem;
    width: 18rem;
    --b: 1px;
    --w: 13rem;
  }
  .section-inicio .row .photo .img {
    width: 74%;
    height: 75%;
  }
  .section-inicio .row .description {
    width: auto;
    padding: 1rem 1rem 1rem 0;
  }
  .section-inicio .row .description .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .section-inicio .row .description .text {
    font-size: 1.8rem;
  }
}
/*************************** SECTION PORTAFOLIO *****************************/
.section-portfolio {
  background-image: url("../public/svg/animatedShapePortfolio.svg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-portfolio .slick-slider {
  width: calc(100vw - 25%);
  display: flex;
  align-items: center;
  height: 100vh;
  margin: auto;
}
.section-portfolio .slick-slider .card {
  height: 100%;
  height: 50rem;
  display: flex !important;
  flex-direction: row;
}
.section-portfolio .slick-slider .card .card-img {
  padding-left: 11rem;
  width: 50%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.section-portfolio .slick-slider .card .card-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-portfolio .slick-slider .card .card-info .container {
  padding: 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section-portfolio .slick-slider .card .card-info .container .title {
  font: 500 6rem/6rem "XanhMonoTitle", sans-serif;
  letter-spacing: -0.1rem;
  font-size: 5rem;
}
@media (max-width: 1025px) {
  .section-portfolio .slick-slider .card .card-info .container .title {
    font: 400 5rem/5.2rem "XanhMonoTitle", sans-serif;
  }
}
@media (max-width: 551px) {
  .section-portfolio .slick-slider .card .card-info .container .title {
    font: 400 4rem/4.2rem "XanhMonoTitle", sans-serif;
  }
}
.section-portfolio .slick-slider .card .card-info .container .list {
  display: flex;
  flex-direction: row;
}
.section-portfolio .slick-slider .card .card-info .container .list .icon {
  width: 3rem;
}
.section-portfolio .slick-slider .card .card-info .container .list .icon:not(:last-child) {
  margin-right: 2rem;
}
.section-portfolio .slick-slider .card .card-info .container .text {
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
  min-height: 6.9rem;
}
@media (max-width: 551px) {
  .section-portfolio .slick-slider .card .card-info .container .text {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.section-portfolio .slick-slider .card .card-info .container .url {
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
  color: white;
  font-weight: 700;
}
@media (max-width: 551px) {
  .section-portfolio .slick-slider .card .card-info .container .url {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.section-portfolio .slick-slider .card .card-info .container .button1 {
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
  width: fit-content;
  margin-top: 1rem;
}
@media (max-width: 551px) {
  .section-portfolio .slick-slider .card .card-info .container .button1 {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.section-portfolio .slick-slider .slick-arrow.slick-next {
  width: 4rem;
  background-image: url("../public/icons/arrow-simple-blue.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  transform: rotate(180deg);
}
.section-portfolio .slick-slider .slick-arrow.slick-next::before {
  content: "";
}
.section-portfolio .slick-slider .slick-arrow.slick-prev {
  width: 4rem;
  background-image: url("../public/icons/arrow-simple-blue.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.section-portfolio .slick-slider .slick-arrow.slick-prev::before {
  content: "";
}
@media (max-width: 1025px) {
  .section-portfolio {
    background-image: url("../public/svg/animatedShapePortfolioMbl.svg");
  }
  .section-portfolio .slick-slider .card {
    flex-direction: column !important;
    align-items: center;
    height: auto;
  }
  .section-portfolio .slick-slider .card .card-img {
    padding-left: 0;
    width: 70%;
    height: 26rem;
  }
  .section-portfolio .slick-slider .card .card-info {
    width: 100%;
    align-items: center;
  }
  .section-portfolio .slick-slider .card .card-info .container {
    max-width: 47rem;
    padding: 0 5rem;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
  .section-portfolio .slick-slider .card .card-info .container .title {
    font-size: 4rem;
  }
  .section-portfolio .slick-slider .card .card-info .container .sub-title {
    text-align: center;
  }
  .section-portfolio .slick-slider .card .card-info .container .button1 {
    margin-top: 0;
  }
  .section-portfolio .slick-slider .card .card-info .container div:not(:last-child),
  .section-portfolio .slick-slider .card .card-info .container a {
    margin-bottom: 1.5rem;
  }
  .section-portfolio .slider-control-centerright {
    right: 5rem;
    top: 36rem;
  }
  .section-portfolio .slider-control-centerleft {
    left: 5rem;
    top: 36rem;
  }
}
@media (max-width: 551px) {
  .section-portfolio .slider-control-centerright,
  .section-portfolio .slider-control-centerleft {
    display: none;
  }
  .section-portfolio .slick-slider .card .card-info {
    height: auto;
  }
  .section-portfolio .slick-slider .card .card-info .container {
    justify-content: space-between;
    height: auto;
    text-align: center;
  }
  .section-portfolio .slick-slider .card .card-info .container .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .section-portfolio .slick-slider .card .card-info .container .text {
    text-align: center;
    margin: 1rem 0;
  }
  .section-portfolio .slick-slider .card .card-info .container .button1 {
    width: 39%;
    text-align-last: center;
  }
  .section-portfolio .slick-slider .card .card-img {
    margin-bottom: 1rem;
    margin-bottom: 0;
    width: 90%;
  }
}
.more-info {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  top: 0;
  display: none;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: #0000003b;
}
.more-info.active {
  display: block;
}
.more-info .text {
  padding: 4rem;
  background-color: white;
  width: 40%;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 14px 1px #0000008f;
}
.more-info .text svg {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
}
.more-info .text .dificultades,
.more-info .text .aprendizaje {
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
}
@media (max-width: 551px) {
  .more-info .text .dificultades,
  .more-info .text .aprendizaje {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.more-info .text .dificultades span,
.more-info .text .aprendizaje span {
  color: #022b3aff;
}
.more-info .text .dificultades ul,
.more-info .text .aprendizaje ul {
  margin: 0;
  padding: 17px 0 10px 17px;
}
.more-info .text .dificultades ul li,
.more-info .text .aprendizaje ul li {
  font-size: 1.8rem;
  line-height: 1.8;
  list-style-type: disc;
}
@media (max-width: 1025px) {
  .more-info .text {
    width: 65%;
  }
}
@media (max-width: 551px) {
  .more-info .text .dificultades ul li,
  .more-info .text .aprendizaje ul li {
    font-size: 1.4rem;
  }
}
/*************************** SECTION SKILLS *****************************/
.section-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../public/svg/animatedShapeSkills.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-skills div[role="progressbar"] span:last-child {
  color: white;
}
.section-skills .row {
  width: 80%;
  align-items: center;
  justify-content: center;
}
.section-skills .row:not(:last-child) {
  margin-bottom: 4rem;
}
.section-skills .row .sub-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.section-skills .row .sub-section.minheight {
  min-height: 38rem;
}
.section-skills .row .sub-section:not(:last-child) {
  margin-right: 4rem;
}
.section-skills .row .sub-section .title {
  font: 400 4rem/4.8rem "XanhMono", sans-serif;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
}
@media (max-width: 769px) {
  .section-skills .row .sub-section .title {
    line-height: 4.5rem "XanhMono", sans-serif;
  }
}
@media (max-width: 551px) {
  .section-skills .row .sub-section .title {
    font: 400 3rem/3.5rem "XanhMono", sans-serif;
  }
}
.section-skills .row .sub-section .tecnology .col {
  margin-bottom: 1rem;
}
.section-skills .row .sub-section .tecnology .col .title-tecnology {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.section-skills .row .sub-section .tecnology .col .title-tecnology img {
  width: 2.6rem;
  margin-right: 1rem;
}
.section-skills .row .sub-section .tecnology .col .title-tecnology span {
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
}
@media (max-width: 551px) {
  .section-skills .row .sub-section .tecnology .col .title-tecnology span {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.section-skills .row .separacion {
  width: 100%;
  height: 1rem;
  background-color: red;
}
@media (max-width: 1025px) {
  .section-skills {
    background-image: url("../public/svg/animatedShapeSkillsMbl.svg");
  }
}
@media (max-width: 551px) {
  .section-skills .row {
    width: 80%;
    flex-direction: column;
  }
  .section-skills .row:not(:last-child) {
    margin-bottom: 1rem;
  }
  .section-skills .row .sub-section {
    width: 100%;
  }
  .section-skills .row .sub-section .title {
    margin-bottom: 1rem;
    font-size: 2.4rem;
  }
  .section-skills .row .sub-section.minheight {
    min-height: 0;
  }
  .section-skills .row .sub-section:not(:last-child) {
    margin-right: 1rem;
  }
  .section-skills .row .sub-section .tecnology .col {
    flex-direction: row;
    align-items: center;
    margin-bottom: 6px;
  }
  .section-skills .row .sub-section .tecnology .col div[role="progressbar"] {
    width: 100%;
  }
  .section-skills .row .sub-section .tecnology .col div[role="progressbar"] span {
    font-size: 10px;
    margin-bottom: 3px;
    font-weight: 600;
  }
  .section-skills .row .sub-section .tecnology .col .title-tecnology {
    margin-left: 0;
  }
  .section-skills .row .sub-section .tecnology .col .title-tecnology img {
    width: 2rem;
  }
  .section-skills .row .sub-section .tecnology .col .title-tecnology span {
    display: none;
  }
}
/*************************** SECTION CONTACTO *****************************/
.section-contacto {
  height: calc(100vh - 14rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("../public/svg/animatedShapeContacto.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}
.section-contacto .section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80rem;
  width: calc(100% - 41%);
}
.section-contacto .section-container.hide {
  transition: all 0.5s ease-out;
  opacity: 0;
  display: none;
}
.section-contacto .section-container .title {
  font: 500 6rem/6rem "XanhMonoTitle", sans-serif;
  letter-spacing: -0.1rem;
  font-size: 5rem;
}
@media (max-width: 1025px) {
  .section-contacto .section-container .title {
    font: 400 5rem/5.2rem "XanhMonoTitle", sans-serif;
  }
}
@media (max-width: 551px) {
  .section-contacto .section-container .title {
    font: 400 4rem/4.2rem "XanhMonoTitle", sans-serif;
  }
}
.section-contacto .section-container .personal-info {
  margin: 2rem 0rem;
  width: 72%;
  padding: 1rem 4rem;
  position: relative;
  --b: 2px;
  --w: 17rem;
}
.section-contacto .section-container .personal-info::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, #64ffda, #1f7a8cff, #bfdbf7ff, #1f7a8cff, #64ffda);
  --_g: #0000 90deg, #022b3aff 0;
  --_p: var(--w) var(--w) no-repeat;
  --mask: conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
          /* conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p), */
            /* conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p), */
            conic-gradient(
              from -90deg at bottom var(--b) right var(--b),
              var(--_g)
            )
            100% 100% / var(--_p);
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.section-contacto .section-container .personal-info .oneline {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section-contacto .section-container .personal-info .row {
  justify-content: space-between;
  align-items: center;
}
.section-contacto .section-container .personal-info .row p,
.section-contacto .section-container .personal-info .row a {
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
  font-weight: 400;
  line-height: 1rem;
  color: white;
  opacity: 0.9;
}
@media (max-width: 551px) {
  .section-contacto .section-container .personal-info .row p,
  .section-contacto .section-container .personal-info .row a {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.section-contacto .section-container .personal-info .row p:last-child,
.section-contacto .section-container .personal-info .row a:last-child {
  opacity: 0.8;
}
.section-contacto .section-container .personal-info .row a:hover {
  opacity: 1;
  font-weight: 600;
}
.section-contacto .section-container .form-contacto {
  width: 100%;
}
.section-contacto .section-container .form-contacto .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.section-contacto .section-container .form-contacto .input-group label {
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-weight: 600;
  /*  @darkBlue: #022b3aff;
          @mediumBlue: #1f7a8cff;
          @columbia-blue: #bfdbf7ff;
          @lavender-web: #e1e5f2ff;
          @white: #f5f5f5; */
}
@media (max-width: 551px) {
  .section-contacto .section-container .form-contacto .input-group label {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.section-contacto .section-container .form-contacto .input-group input,
.section-contacto .section-container .form-contacto .input-group textarea {
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1rem 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #1f7a8c52;
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
  font-weight: 600;
  color: #1f7a8cff;
}
@media (max-width: 551px) {
  .section-contacto .section-container .form-contacto .input-group input,
  .section-contacto .section-container .form-contacto .input-group textarea {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.section-contacto .section-container .form-contacto .input-group input:focus-visible,
.section-contacto .section-container .form-contacto .input-group textarea:focus-visible {
  outline: none;
}
.section-contacto .section-container .form-contacto .input-group input::placeholder,
.section-contacto .section-container .form-contacto .input-group textarea::placeholder {
  color: white;
  opacity: 0.8;
  font-size: 1.3rem;
}
.section-contacto .section-container .form-contacto .input-group input:-webkit-autofill,
.section-contacto .section-container .form-contacto .input-group input:-webkit-autofill:hover,
.section-contacto .section-container .form-contacto .input-group input:-webkit-autofill:focus,
.section-contacto .section-container .form-contacto .input-group input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: #1f7a8cff !important;
  transition: background-color 5000s ease-in-out 0s;
}
.section-contacto .section-container .form-contacto .submit {
  width: 100%;
  display: grid;
  place-items: center;
}
.section-contacto .section-container .form-contacto .submit .static {
  display: block;
}
.section-contacto .section-container .form-contacto .submit .static.hide {
  display: none !important;
}
.section-contacto .section-container .form-contacto .submit .typing {
  display: none;
  animation: typing 3s steps(22), blink 0.5s step-end infinite alternate;
  animation-iteration-count: infinite;
  width: 22ch;
  white-space: nowrap;
  overflow: hidden;
}
.section-contacto .section-container .form-contacto .submit .typing.active {
  display: block;
}
.section-contacto .send-success {
  display: none;
  align-items: center;
}
.section-contacto .send-success.show {
  display: flex;
  flex-direction: column;
}
.section-contacto .send-success img {
  width: 14rem;
}
.section-contacto .send-success .text {
  font: 600 2rem/3rem "XanhMonoTextos", sans-serif;
  letter-spacing: 0.05rem "XanhMonoTextos", sans-serif;
  margin-top: 1rem;
  text-align: center;
}
@media (max-width: 551px) {
  .section-contacto .send-success .text {
    font: 400 1.5rem/2.3rem "XanhMonoTextos", sans-serif;
  }
}
.section-contacto .send-success .button1 {
  margin-top: 3rem;
}
@media (max-width: 1025px) {
  .section-contacto {
    background-image: url("../public/svg/animatedShapeContactoMbl.svg");
  }
  .section-contacto .section-container {
    width: calc(100vw - 7rem) !important;
  }
  .section-contacto .section-container .subtitle {
    margin: 1rem 0rem 2rem;
  }
}
@media (max-width: 551px) {
  .section-contacto .section-container .title {
    margin-bottom: 2rem;
  }
  .section-contacto .personal-info {
    display: none;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
#wheel-window {
  position: fixed;
  font: 400 4rem/4.8rem "XanhMono", sans-serif;
  letter-spacing: -0.1rem;
  transition: all 0.5s ease;
  z-index: -9;
  opacity: 0;
}
@media (max-width: 769px) {
  #wheel-window {
    line-height: 4.5rem "XanhMono", sans-serif;
  }
}
@media (max-width: 551px) {
  #wheel-window {
    font: 400 3rem/3.5rem "XanhMono", sans-serif;
  }
}
#wheel-window.show {
  z-index: 9;
  opacity: 1;
}
#loading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #022b3aff;
  height: 100vh;
  width: 100vw;
  z-index: 9;
  top: 0;
}
#loading-page.off {
  transition: all 0.5s ease-out;
  opacity: 0;
}
#load-gif {
  width: 18rem;
  z-index: 90;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#load-gif.off {
  -webkit-animation: diagonal 1.3s;
  -moz-animation: diagonal 1.3s;
  -o-animation: diagonal 1.3s;
  animation: diagonal 1.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 2;
}
#load-gif.hide {
  transition: all 0.5s ease-out;
  opacity: 0;
}
@keyframes diagonal {
  from {
    width: 18rem;
    top: 50%;
    left: 50%;
  }
  to {
    width: 9rem;
    top: 40px;
    left: 75px;
  }
}
@media (max-width: 551px) {
  #load-gif {
    width: 15rem;
  }
  @keyframes diagonal {
    from {
      width: 15rem;
      top: 50%;
      left: 50%;
    }
    to {
      width: 7rem;
      top: 31px;
      left: 55px;
    }
  }
}
/*************************** SECTION 404 *****************************/
.section-404 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-404 .row {
  width: calc(100% - 6%);
  align-items: center;
}
.section-404 .row .img-container {
  background-image: url("../public/images/404image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 70%;
  height: 86rem;
}
.section-404 .row .text-container {
  width: 34rem;
  height: 24rem;
  margin-left: -14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section-404 .row .text-container .title {
  font: 400 4rem/4.8rem "XanhMono", sans-serif;
  letter-spacing: -0.1rem;
}
@media (max-width: 769px) {
  .section-404 .row .text-container .title {
    line-height: 4.5rem "XanhMono", sans-serif;
  }
}
@media (max-width: 551px) {
  .section-404 .row .text-container .title {
    font: 400 3rem/3.5rem "XanhMono", sans-serif;
  }
}
.section-404 .row .text-container .subtitle {
  font: 400 4rem/4.8rem "XanhMono", sans-serif;
  letter-spacing: -0.1rem;
}
@media (max-width: 769px) {
  .section-404 .row .text-container .subtitle {
    line-height: 4.5rem "XanhMono", sans-serif;
  }
}
@media (max-width: 551px) {
  .section-404 .row .text-container .subtitle {
    font: 400 3rem/3.5rem "XanhMono", sans-serif;
  }
}
.section-404 .row .text-container .button1 {
  text-align: center;
}
@media (max-width: 1025px) {
  .section-404 .row .text-container .title,
  .section-404 .row .text-container .subtitle {
    font-size: 3rem;
  }
  .section-404 .row .text-container .button1 {
    font-size: 2.3rem;
    width: fit-content;
  }
}
@media (max-width: 1117px) {
  .section-404 .row {
    justify-content: center;
  }
  .section-404 .row .img-container {
    display: none;
  }
  .section-404 .row .text-container {
    align-items: center;
    width: 53rem;
    margin-left: 0;
    text-align: center;
  }
}
/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.paging-item.active button {
  fill: #022b3aff !important;
}
